*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}
body{
    /* font-family: 'Montserrat', sans-serif; */
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
a{
    text-decoration: none;
}
.padre{
    display: flex;
    flex-flow: column nowrap;
}
.margen-interno{
    padding: 0 50px;
}
    .header{
        background: url(../imagenes/starwars-header.jpg);
        background-position: center;
        background-attachment: contain;
        background-size: cover;
        display: flex;
        flex-flow: column nowrap;
    }
        .menu{
            background: rgba(0,0,0,.1);
            display: flex;
            flex-flow: row nowrap;
            height: 60px;
            align-items: center;
            border-bottom: 1px solid rgba(255,255,255,.5);
        }
            .logo{
                 flex: 1 1 auto;
            }
                .logo a{
                    color: #fff;
                    font-size: 30px;
                    font-family:Verdana, Geneva, Tahoma, sans-serif;
                }    
                .logo a:hover{
                    color: #d9f82b;
                    transition: all 300ms;
                }
            .nav{
                flex: 5 1 auto;
            }
                .nav a{
                color: #fff;
                font-size: 11px;
                text-transform: uppercase;
                padding: 0 10px;
                letter-spacing: 2px;
                }
                .nav a:hover{
                    color: #d9f82b;
                    font-size: 15px;
                    transition: all 600ms;
                }    
            .social{
                flex: 1 1 auto;
                display: flex;
            }    
                .social a{
                    font-size: 18px;
                    color: #fff;
                    padding: 0 10px;
                }
                .social a:hover{
                    color: #d9f82b;
                    font-size: 23px;
                    transition: all 300ms;
                }   
            
        .texto-principal{
            /* background: #f07b3f; */
            height: 580px;
            display: flex;
            align-items: center;
        }
            h1{
               font-family: 'Lora', serif;
               font-size: 21px;
               color: #fff;
               font-weight: 300;
               text-align: center;
               line-height: 1.6;

               /* background-color: rgb(189, 8, 8, 0.3);
               border-radius: 20px, 0px, 0px, 20px; */
            }
    .section{
        background: #f7f7f7;
        display: flex;
    }
        .articulos{
            background: #f7f7f7;
            flex: 2 1 auto;
            display: flex;
            flex-flow: row wrap;
        }
            .article{
                flex: 1 1 40%;
                color: #444;
                font-size: 13px;
                letter-spacing: 1px;
                margin: 10px 10px 0 0px;
                flex: 1 1 45%;
                background: #ececec;
            }
            .article img{
                width: 100%;
            }
            .article img:hover{
                filter: saturate(180%);
                transition: all 300ms;
            }
            .article a{
                color: #fff;
                font-size: 13px;
                padding: 10px;
                background: #000;
                margin: 10px 0;
                display: inline-block;
            }
            .article a:hover{
                color: #d9f82b;
                background: slategray;
                font-size: 14px;
                transition: linear 300ms;
            }
            h3{
                color: #fff;
                font-size: 13px;
                padding: 10px 0;
                margin-top: -80px;
            }
            h2{
                font-size: 25px;
                text-transform: uppercase;
                padding: 0px 0 10px 0;
                color: #fff;
            }  
            
            .navegacion{
                background: #000;
                flex: 1 1 100%;
                margin: 10px 10px 0 0px;
                text-align: center;
                padding: 5px;
            }
            
            .navegacion a{
                color: #fff;
                font-size: 11px;
                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                text-transform: uppercase;
                padding: 0 10px;
                letter-spacing: 2px;
            }
            .navegacion a:hover{
                color: #d9f82b;
                font-size: 15px;
                transition: all 400ms;
            }
        .aside{
            flex: 1 1 auto;
            margin: 10px 5px 10px 0;
        }
        .aside img:hover{
            filter: saturate(180%);
            transition: all 500ms;
        }
        /* .aside img{
            width: 100%;
        } */
        h4{
            background: #000;
            color: #fff;
            text-align: center;
            padding: 10px;
            text-transform: uppercase;
        }
        .aside h4:hover{
            background: slategray;
            color: #d9f82b;
            transition: linear 500ms;

        }
            /* .publicidad{
                background: #ffea85;
            } */
    .footer{
        background: #000;
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }
        .pie{
            /* background: #e6af2e; */
            text-align: center;
            
            
        }
        .pie a{
            color: #fff;
            font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            font-size: 11px;
            text-transform: uppercase;
            padding: 0 10px;
            letter-spacing: 2px;
        }

@media all and (max-width: 1072px){
    .section{
        flex-direction: column;
    }
    .menu{
        flex-direction: column;
        height: auto;
    }
    .aside{
        display: flex;
        justify-content: center;
    }
     .aside img{
            width: 100%;
    }
    h1{
        font-size: 15px;
    }
    .texto-principal{
        height: 450px;
    }
}
@media all and (max-width: 836px){    
    .nav a{
        flex-direction: column;
    }
}
@media all and (max-width: 762px){
    .articulos{
        flex-direction: column;
    }
}
@media all and (max-width: 675px){
    .off{
        display: none;
    }
    /* .nav a{
        font-size: 25px;
    } */
}
@media all and (max-width: 400px){
    .aside{
        flex-direction: column;
    }
}